<section class="vh-100 fondo">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card borde">
          <div class="card-body p-5">
            <h6 class="mb-3">Todo List</h6>
            <form class="d-flex justify-content-center align-items-center mb-4">
              <div class="form-outline flex-fill">
                <input
                  [(ngModel)]="nombreTarea"
                  (keyup.enter)="agregarTarea()"
                  name="nombreTarea"
                  type="text"
                  id="form3"
                  class="form-control form-control-lg colorinput"
                />
                <label class="form-label">What do you need to do today?</label>
              </div>
              <button
                (click)="agregarTarea()"
                type="button"
                class="btn btn-primary btn-lg ms-2"
              >
                Add
              </button>
            </form>
            <ul class="list-group mb-0">
              <li
                *ngFor="let tarea of listaTareas; let i = index"
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                  border-start-0 border-top-0 border-end-0 border-bottom
                  rounded-0
                  mb-2
                "
              >
                <div class="d-flex align-items-center">
                  <input
                    (click)="actualizarTarea(i)"
                    [checked]="tarea.estado"
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    aria-label="..."
                  />
                  <span [ngClass]="tarea.estado ? 'subrayar' : ''">
                    {{ tarea.nombre }}
                  </span>
                </div>
                <span
                  class="btn"
                  (click)="eliminarTarea(i)"
                  data-mdb-toggle="tooltip"
                  title="Remove item"
                >
                  <i class="cursor fas fa-times text-primary"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
